.table th {
    text-align: center;
}

/* 3.4 Alert */
.alert {
    color: #fff;
    border: none;
    padding: 15px 20px;
}

.alert .alert-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.alert code {
    background-color: #fff;
    border-radius: 3px;
    padding: 1px 4px;
}

.alert p {
    margin-bottom: 0;
}

.alert.alert-has-icon {
    display: flex;
}

.alert.alert-has-icon .alert-icon {
    margin-top: 4px;
    width: 30px;
}

.alert.alert-has-icon .alert-icon .ion,
.alert.alert-has-icon .alert-icon .fas,
.alert.alert-has-icon .alert-icon .far,
.alert.alert-has-icon .alert-icon .fab,
.alert.alert-has-icon .alert-icon .fal {
    font-size: 20px;
}

.alert.alert-has-icon .alert-body {
    flex: 1;
}

.alert:not(.alert-light) a {
    color: #fff;
}

.alert.alert-primary {
    background-color: #142a4b;
}

.alert.alert-secondary {
    background-color: #383d41;
}

.alert.alert-success {
    background-color: #155724;
}

.alert.alert-info {
    background-color: #0c5460;
}

.alert.alert-warning {
    background-color: #856404;
}

.alert.alert-danger {
    background-color: #721c24;
}

.alert.alert-light {
    background-color: #e3eaef;
    color: #191d21;
}

.alert.alert-dark {
    background-color: #191d21;
}

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
    margin-bottom: 0px;
}

.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}

.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}

.card-box .inner {
    padding: 5px 10px 0 10px;
}

.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}

.card-box p {
    font-size: 15px;
}

.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}

.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}

.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}

.detail a {
    color: white;
    float: right;
}
